*{padding: 0%;
margin: 0;
box-sizing: border-box;
}
.navbar{
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: coral;
  padding: 10px;
  border: none;
  outline: none;
  box-shadow: 10px 10px 10px black;
  

}

.log-sing-btn{
  display: grid;
  grid-template-columns: 80px 40px;
  cursor: pointer;
}